.userHead {
  background-color: pink;
  /* You will have to set this according to different devices */
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  /* In the future we will try to do this colors work randomely */
  border: 3px solid #5453e0;
}

.userAvatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  /* This is very important property for maintaining the aspect ratio of the picture */
  object-fit: cover;
}

.micBtn {
  position: absolute;
  /* Now it is perfectly done */
  /* bottom: 3px; */
  /* right: 3px; */
  right: 0;
  bottom: 0;
  background-color: #212121;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  padding: 6px;
  cursor: auto;
}

.micBtn img {
  height: 18px;
}

.goBackBtn {
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-top: 2rem;
}

.backBtnText {
  font-size: 22px;
  margin-left: 1rem;
  position: relative;
}

/* content is neccessary in the after pseudo element  */
.backBtnText::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 60%;
  background-color: #0077ff;
  bottom: -10px;
  left: 0;
  border-radius: 10px;
}

.clientsWrapper {
  background-color: #1d1d1d;
  border-radius: 20px 20px 0 0;
  margin-top: 3rem;
  padding: 2rem;
  /* cutting margin is neccessary because it is not included in the border box box sizing */
  min-height: calc(100vh - 12vh - 2rem - 30px - 3rem);
}

.roomHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roomTopic {
  font-size: 22px;
}

.actionButtons {
  display: flex;
  align-items: center;
}

.actionBtn {
  background-color: #262626;
  padding: 0.7rem 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  transition: 0.3s all ease-in-out;
}

.actionBtn span {
  margin-left: 0.7rem;
}

.actionBtn:hover {
  background-color: #333333;
}

.clientsList {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  /* If space is not available then it is wrap to next line not going farther then the screen and do not adding the horizontal scroll bar */
  flex-wrap: wrap;
  /* we use align items for the cross axis here it is of no use so we can easily be able to remove it */
  /* align-items: center; */
}

.client {
  /* width: 80px;
  height: 80px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client h4 {
  margin-top: 0.5rem;
}
