.card {
  background: #1d1d1d;
  padding: 40px 70px;
  border-radius: 15px;
  /* text-align: center; */

  width: 550px;

  /* This will work in place of text align center */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
}

.headingLogo {
  width: 30px;
  height: 30px;
}

.headingText {
  font-weight: 700;
  margin-left: 10px;
  line-height: 30px;
  font-size: 22px;
}
